# iCESugar v1.5

set_io clk 35
set_frequency clk 12

# 7-Seg Display (Pmod2)

set_io segs[0] 37  # a
set_io segs[1] 38  # b
set_io segs[2] 42  # c
set_io segs[3] 43  # d
set_io segs[4] 44  # e
set_io segs[5] 45  # f
set_io segs[6] 46  # g
set_io segs[7] 36  # dp

# DIP Switches (Pmod3)

set_io -pullup yes val1[0] 34
set_io -pullup yes val1[1] 32
set_io -pullup yes val1[2] 31
set_io -pullup yes val1[3] 28

set_io -pullup yes val2[0] 27
set_io -pullup yes val2[1] 26
set_io -pullup yes val2[2] 25
set_io -pullup yes val2[3] 23
